.product-button {
  display: block;
  background-color: #FFFACD;
  color: #2F4F4F;
  text-align: center;
  padding: 8px 0;
  border-radius: 8px;
  margin-top: 8px;
  text-decoration: none;

  &:hover {
      background-color: #2E8B57;
  }
}